html, body {margin:0; padding:0; font-size:16px;}
body {padding:1em 2em; font-family:Helvetica, Arial, sans-serif; background:#f8f8f8;}
.site-header {color:#800;}
  .site-header .site-title {margin:0; font-size:2rem; font-weight:bold; font-family:Helvetica, Arial, sans-serif;}
  .site-header p {margin:0 0 1em; font-size:1.2em;}
.page-title {color:#800; font-size:1.6rem;}
h3 {text-align:center; color:#800000;}
.center {text-align: center;}
.nav {padding:1rem; background-color:#ddd; border:2px solid #777; border-width:2px 0; text-align:center;}
.nav-top a,
.nav-bot a {color:#00f;}
.maroon,
.maroon a {color:#800000;}
.notice {margin:2rem 0; padding:1rem; text-align:center; background:#d4edda; border:2px solid #c3e6cb; border-radius:0.5rem;}
footer {text-align:center;}
