html, body {margin:0; padding:0; font-size:16px;}
body {padding:1em 2em; line-height:1.6rem; font-family:Helvetica, Arial, sans-serif; background:#f8f8f8;}
img {max-width:100%; height:auto;}
hr {border:1px solid #dadada;}
p {margin:0 0 1.5rem;}
h1 {margin:0 0 1em;}
.site-header {color:#800;}
  .site-header .site-title {margin:0; font-size:2rem; line-height:2rem; font-weight:bold; font-family:Helvetica, Arial, sans-serif;}
  .site-header p {margin:0 0 1em; font-size:1.2em;}
.page-title {color:#800; font-size:1.6rem;}
h3 {color:#800;}

table {width:100%; margin:2em 0; border-collapse:collapse; border-spacing:0; border:1px solid #dadada;}
tr {border-top:1px solid #dadada;}
tr:nth-child(even) td { background:#fafafa; }
th,
thead th { text-align:left; background-color:#dadada; border-right:1px solid #dadada; font-weight:600; font-size:1em; border-bottom:3px solid #dadada; }
tfoot th {text-align:right;}
th, td {padding:0.5em 0.75em;}
td {border-right:1px solid #dadada; border-left:1px solid #dadada;}
td, td img {vertical-align:top;}

.center {text-align: center;}
.nav { margin:0; padding:0;}
.nav a {display:block; padding:0.5rem 0.5rem 0.3rem; border-radius:5px; color:#333; font-size:1.4rem; line-height:1.5rem; text-decoration:none; border:1px solid transparent; transition:100ms;}
  .nav a:hover {background-color:rgba(136, 0, 0, 0.2); border:1px solid rgba(136, 0, 0, 0.8);}
.btn {padding:0.8rem 0.8rem 0.7rem; color:#fff; line-height:1rem; border-radius:0.5rem; background-color:#800; text-decoration:none;}
.maroon,
.maroon a {color:#800;}
.notice {margin:2rem 0; padding:1rem; text-align:center; background:#d4edda; border:2px solid #c3e6cb; border-radius:0.5rem;}
footer,
.footer-contact {border-top:2px solid #dadada; margin:2rem 0; padding:2rem 0; text-align:center;}

/* 768px
----------------------------------------------------*/
@media only screen and (min-width:768px) {
  .ice {display:grid; grid-template-columns:300px auto; gap:2rem; max-width:800px; margin:2rem auto;}
}

/* 900px
----------------------------------------------------*/
@media only screen and (min-width:900px) {
  body {display:grid; gap:2rem; grid-template-columns:auto 1fr; grid-template-areas:
    'head head'
    'nav main'
    'footer footer';
  }
  header {grid-area:head;}
  main {grid-area:main;}
  nav {grid-area:nav;}
    .nav a {font-size:1.2rem; line-height:1.3rem;}
  footer {grid-area:footer; text-align:left;}
    .footer-notice {text-align:center;}
    .footer-contact {display:grid; grid-template-columns:1fr 1fr; text-align:left;}
    .footer-contact-2 {text-align:right;}
}

@media print {
  @page {margin:0.5cm;}
  body {font-size:13pt; line-height:1.3; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
  img, tr {page-break-inside:avoid;}
  p, h2, h3 {orphans:3; widows:3;}
  h2, h3 {page-break-after:avoid;}
  a {page-break-inside:avoid;}
  blockquote {page-break-inside:avoid;}
  h1, h2, h3, h4, h5, h6 {page-break-after:avoid; page-break-inside:avoid;}
  img {page-break-inside:avoid; page-break-after:avoid;}
  table, pre {page-break-inside:avoid;}
  ul, ol, dl {page-break-before:avoid;}
  a[href^="javascript:"]:after,
  a[href^="#"]:after {content:"";}
  .image-right img {float:right; margin:0 0 1em 2em;}
  .image-left img {float:left; margin:0 2em 1em 0;}
  article {overflow:hidden;}

  /* Hidden
  ----------------------------------------------------*/
  footer,
  .site-header,
  .nav {display:none;}

}
